In [3]:
import pandas as pd
import numpy as np
import random

In [12]:
class Die():
    """
    A die has N sides, or “faces”, and W "weights",
    stored in a dataframe that can be rolled to select 
    a face. 
  
    Attributes:
    A die object with assigned faces and weights.
    
    Methods:
    __init__
    change_w
    rolldie
    display
   
    """
    _diedf=pd.DataFrame({'faces':[],'weights':[]})
    
    def __init__(self, n, w = 1.0):
        
        """
        Initialize the Die from faces and weights. 
       
        Input Arguments:
        n must be an array of floats, integers or strings.
        w can be an array or value of floats or integers. 
        If no weight is specified, w will default to 1.0.
        """
        self.n=n
        self.w=w
        _newdie = pd.DataFrame({'faces': n, 'weights': w})
        self._diedf = pd.concat([self._diedf, _newdie], ignore_index=True)

    def change_w(self, faces, weights):
        """
        The function to change the weight of a specified face.
  
        Parameters:
           faces, int, float, or string.
           weights, int or float.
           
        Returns:
            Specifies whether face is in array of values already.
            Changes type of weight to floaat if not already.
            Changes weight at specified face value.
            
        """
        if not (faces in list(self._diedf['faces']):
            raise ValueError('Face not in die.')
        else:
            self._diedf.at[self._diedf.index[self._diedf.faces == faces],'weights']=float(weights)

    def rolldie(self, number=1):
        """
        The function to roll a die object a number of times according to weight.
        
        Parameters:
        number, int or float
        
        Returns:
        An array of face values chosen randomly a specified number of times.
        """
        roll= random.choices(self._diedf['faces'].values, self._diedf['weights'].values, k=number)
        return(roll)
          
    def display(self):
        """
        The function to display a dataframe of the faces and weights of a die.         
        
        Returns:
        A dataframe with the faces and weights of a die.               
        
        """
        
        return(self._diedf)

In [42]:
class Game():  
    """
    A game object consists of one or more die objects that 
    can be rolled to output a number of faces. 
  
    Attributes:
    A game object with at least one die.
    
    Methods:
    __init__
    play
    show  
  
    """  
    
    def __init__(self, games):
        """
        Initialize a game from die objects. 
       
        Input Arguments:
        Games must be a list of at least one die objects.
        """
        self.games=games
       
    def play(self, ntimes):
        """
        The function to play one or more die a specified amount of times
        
        Parameters:
        ntimes, int or float
        
        Returns:
        Rolls one or more die a specified number of times and stores results into a dataframe. 
        """
           
        rolllist=[]
        for x in range(0, len(self.games)):
            rolllist.append(self.games[x].rolldie(ntimes))
        dienames=[]
        [dienames.append("Die"+str(x) )  for x in range(0, len(self.games))] 
        self._rolldf= pd.DataFrame(rolllist, index = dienames).T
        self._rolldf.index.name ='Roll Number'

   
    def show(self, form='wide'):
        """
        The function to display the outcomes of a game in wide or narrow dataframe. 
        
        Parameters:
        form, as 'wide'(default) or 'narrow', else raises exception. 
        
        Returns:
        A dataframe of game results as wide or narrow otherwise raises exception. 
        """
        if form == 'narrow':
            return(self._rolldf.unstack().to_frame().rename_axis(index=["Die Number", "Roll Number"]))
                           
        elif form =='wide':
            return(self._rolldf)
        
        elif (form != 'wide') or (form != 'narrow'):
            raise Exception('Form not accepted. Continue with wide or narrow.')

In [18]:
class Analyzer():
    """
    An Analyzer object consists of one or more game 
    objects with a results dataframe and can compute statistical 
    properties. 
  
    Attributes:
    A analyze object with a specified game. 
    
    Methods:
    __init__
    jackpot
    combo
    facecount
  
    """ 
    def __init__(self, gameobj):
        """
        Initialize the Analyzer object from a game. 
       
        Input Arguments:
        gameobj must be a game with at least one die 
        that has been played.
    
        """
        self.gameobj=gameobj
        self.gameobjdf = self.gameobj.show()

    def jackpot(self):
        """
        The function checks each roll for the same face 
        outputted and counts the number of rolls where the 
        face values are all equal.
        
        Returns:
        The length of a dataframe of jackpot rows as an integer.
        """
        
        self.jackresultdf=self.gameobjdf[self.gameobjdf.nunique(axis=1).eq(1)]
        return(len(self.jackresultdf))
    
    def combo(self):
        """
        The function computes the number of times each unique combination of faces rolled occurs.
        
        Returns:
        A dataframe of each unique combination of faces rolled totaled.
        """
        self.uni= (self.gameobjdf.value_counts()).to_frame().rename(columns={0: "Counts"}, level = 0)        #.rename_axis(index=["Die Number", "Count"])
        return(self.uni)
    
    def facecount(self):
        """
        The function counts the number of times every face appears in each roll.
        
        Returns:
        A dataframe of each face totaled for every roll. 
        
        """
        return(self.gameobjdf.apply(pd.Series.value_counts, axis=1).fillna(0))

In [27]:
die2=Die([1,2,3],[1,5,6])
die2.display()
#die2.rolldie(3)

   faces  weights
0    1.0      1.0
1    2.0      5.0
2    3.0      6.0

In [36]:
die2=Die([4,2,5])
die3=Die([3,4,5])
#die1.display()
#die1.rolldie(3)

In [41]:
game1=Game([die3,die2])
game1.play(100)
game1.show()

             Die0  Die1
Roll Number
0             3.0   5.0
1             5.0   5.0
2             4.0   5.0
3             3.0   5.0
4             3.0   4.0
...           ...   ...
95            5.0   2.0
96            3.0   2.0
97            4.0   4.0
98            3.0   4.0
99            5.0   2.0

[100 rows x 2 columns]

In [38]:
die1=Die([2,3,4])
die1.rolldie(10)
#die2=Die([1,2,3])
#test_object=Game([die1,die2])
#test_object.play(22)
#x=test_object.show(form='b')
#len(x)

[4.0, 4.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0, 4.0]

In [39]:
analyze1=Analyzer(game1)
analyze1.jackpot()
analyze1.jackresultdf

             Die0  Die1
Roll Number
1             4.0   4.0
8             5.0   5.0
12            4.0   4.0
13            5.0   5.0
19            5.0   5.0
26            4.0   4.0
30            4.0   4.0
38            4.0   4.0
41            4.0   4.0
43            4.0   4.0
50            4.0   4.0
55            4.0   4.0
60            4.0   4.0
70            5.0   5.0
72            4.0   4.0
77            4.0   4.0
81            4.0   4.0
85            5.0   5.0
90            4.0   4.0
92            4.0   4.0

In [123]:
analyze1.combo() #set roll nu

                          Counts
Die0 Die1 Die2 Die3 Die4
2.0  6.0  5.0  5.0  2.0        7
4.0  1.0  5.0  4.0  5.0        7
3.0  1.0  3.0  3.0  1.0        6
     3.0  5.0  6.0  3.0        6
2.0  4.0  4.0  2.0  3.0        6
...                          ...
     2.0  6.0  2.0  1.0        1
4.0  6.0  6.0  2.0  2.0        1
2.0  2.0  6.0  1.0  6.0        1
4.0  6.0  6.0  3.0  2.0        1
5.0  1.0  6.0  5.0  3.0        1

[5618 rows x 1 columns]

In [43]:
analyze1.facecount()

             2.0  3.0  4.0  5.0
Roll Number
0            0.0  0.0  1.0  1.0
1            0.0  0.0  2.0  0.0
2            1.0  0.0  0.0  1.0
3            0.0  0.0  1.0  1.0
4            1.0  0.0  1.0  0.0
...          ...  ...  ...  ...
95           0.0  0.0  1.0  1.0
96           1.0  0.0  0.0  1.0
97           1.0  0.0  0.0  1.0
98           1.0  1.0  0.0  0.0
99           1.0  1.0  0.0  0.0

[100 rows x 4 columns]

Scenario 1

In [ ]:
coin1=Die(['H','T']) #fair
coin2=Die(['H','T']) #unfair
coin2.change_w('H', 5)

coin3=Die(['H','T']) #fair
coin4=Die(['H','T']) #fair
coin5=Die(['H','T']) #unfair
coin5.change_w('H', 7)

game1=Game([coin1, coin3, coin4])
game1.play(1000)
analyze1=Analyzer(game1)
freq1=(analyze1.jackpot())/1000
print(freq1)

game2=Game([coin2, coin5, coin3])
game2.play(1000)
analyze2=Analyzer(game2)
freq2=(analyze2.jackpot())/1000
print(freq2)

In [ ]:
import matplotlib.pyplot as plt 

gamebar=['Game 1','Game 2']
y_axis = [freq1, freq2]
plt.bar(gamebar, y_axis, color = ['blue','orange'])
plt.title('Frequency of Jackpots for Game 1 and Game 2')

plt.xlabel("Games")
plt.ylabel("Frequency")

Scenario 2

In [ ]:
die1=Die([1,2,3,4,5,6]) #fair

die2=Die([1,2,3,4,5,6])
die2.change_w(6,5)
die8=Die([1,2,3,4,5,6])
die8.change_w(6,5)

die3=Die([1,2,3,4,5,6])
die3.change_w(1,5)

die4=Die([1,2,3,4,5,6])
die5=Die([1,2,3,4,5,6])
die6=Die([1,2,3,4,5,6])
die7=Die([1,2,3,4,5,6])

game1=Game([die1, die4, die5, die6, die7])
game1.play(10000)
analyze1=Analyzer(game1)
freq2=(analyze2.jackpot())/1000

game2=Game([die2, die8, die3, die4, die5])
game2.play(10000)
analyze2=Analyzer(game2)
freq2=(analyze2.jackpot())/1000


gamebar=['Game 1','Game 2']
y_axis = [freq1, freq2]
plt.bar(gamebar, y_axis, color = ['blue','orange'])
plt.title('Frequency of Jackpots for Game 1 and Game 2')

plt.xlabel("Games")
plt.ylabel("Frequency")

In [ ]:
s1=analyze1.combo().head(10)
s2=analyze2.combo().head(10)
s1.plot.bar()
s2.plot.bar()

Scenario 3

In [184]:
letters=['A','B','C','D','E','F','G','H','I',
         'J','K','L','M','N','O','P','Q','R',
         'S','T','U','V','W','X','Y','Z']
numbers=[8.4966, 2.0720, 4.5388, 3.3844, 11.1607, 
         1.8121, 2.4705, 3.0034, 7.5448, 0.1965, 1.1016,
         5.4893, 3.0129, 6.6544, 7.1635, 3.1671, 0.1962,
         7.5809, 5.7351, 6.9509, 3.6308, 1.0074, 1.2899,
         0.2902, 1.7779, 0.2722]

dielet=Die(letters)
for x in range(len(letters)):
    dielet.change_w(letters[x], numbers[x])
    
dielet2=Die(letters)
for x in range(len(letters)):
    dielet2.change_w(letters[x], numbers[x])
    
dielet3=Die(letters)
for x in range(len(letters)):
    dielet3.change_w(letters[x], numbers[x])
    
dielet4=Die(letters)
for x in range(len(letters)):
    dielet4.change_w(letters[x], numbers[x])
    
dielet5=Die(letters)
for x in range(len(letters)):
    dielet5.change_w(letters[x], numbers[x])


gamelet= Game([dielet,dielet2,dielet3,dielet4,dielet5])
gamelet.play(1000)
s3=gamelet.show()
words=list(s3.stack().groupby(level=0).apply(''.join))
wordlower=[i.lower() for i in words]

In [185]:
fivelet = pd.read_csv(r"C:\Users\Rhea\Documents\DS5100-2022-06-RA-\Project\sgb-words.txt",header=None)
fivelist=fivelet[0].tolist()

In [187]:
for i in wordlower:
    if i in fivelist:
        s3count += 1
    else: 
        pass
print(s3count)
print(s3count/1000)

6
0.006